<div class="row">
  <div class="col-xs-12 col-md-12 home-header">
    <h1>hello | namaste | hola</h1>
  </div>
  <div class="col-xs-12 col-md-12 home-slider">
    <!-- Carousel implementation -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag 'map.png', :class => 'first-slide' %>
        <div class="container">
          <div class="carousel-caption">
            <h2>Where Do you want to go?.</h2>
            <p>We are the most economic airlines fitting your budget.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'beach.jpg', :class => 'second-slide' %>
        <div class="container">
          <div class="carousel-caption">
            <h2>Dreams.</h2>
            <p>You dream, we will take you there</p>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag 'mountain.jpg', :class => 'third-slide' %>

        <div class="container">
          <div class="carousel-caption">
            <h2>Yes, You can</h2>
            <p>Any place, any time</p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div><!-- /.carousel -->
  </div>




</div>
