<div class="col-xs-12 col-md-6 col-md-offset-3 search">
  <div class="row">
    <div class="searchForm">
      <h1>Kaphar Airlines</h1>
      <select class="from">
        <option>From</option>
      </select>
       <select class="to">
        <option>To</option>
      </select>
      <!-- <button class="search" id="search">Search</button></div> -->
    </div>
    <div class="searchMain">
      <div id="main"></div>
    </div>
    <div class="searchTable">
      <table>
        <thead>
          <tr>
            <th>Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Date</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody id="flightTableBody">

          <%# @flights.each do |flight| %>

          <%# end %>
        </tbody>
      </table>
    </div>
  </div>
    <div class="searchMain">
      <div id="flightlist"></div>
    </div>
  </div>
<!--////////////////////////////////////// -->
<!--////////////////////////////////////// -->

<!-- template  -->
<script  type="text/template" id="default" >

  <button class="searchButton" id="search">Search</button>
</script>
<script type="text/template" id="flightTable">
  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Date</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <%# @flights.each do |flight| %>
        <tr>
          <td id="flightNumber">{{= flight.number }}</td>
          <td>{{= flight.origin }}</td>
          <td>{{= flight.destination }}</td>
          <td>{{= flight.date }}</td>
          <td>{{= flight.plane.name }}</td>
        </tr>
      <%# end %>
    </tbody>
  </table>
</script>
<!-- end template  -->

<!-- template  -->
<script type="text/template" id="planeInfo">
  

</script>
<!-- end template  -->
