// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600);
/*========= COLORS =======*/
$s-color: #273B47;
$green: #A3C9A8;
$onyx: #3C3744;
$blue: #7293A0;
$grey: #A0A4B8;
$light-grey: #D8DDEF;
$white: #ffffff;
/*========= FONT FAMILY =======*/
$lato: 'Lato', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
/*========= FONT SIZE =======*/
$f20: 20px;
$fp: 14px;
/*================================================================================*/
/*===========================   Styles ==========================================*/
//=============== global ===============
h1 {
    font-family: $josefin;
    font-weight: 400;
    color: $onyx;
    text-align: center;
}
p {
    font-family: $lato;
    font-size: $fp;
}
//=============== header ===============
.mainnav {
    padding: 10px;
    margin: 0;
    border: none !important;
    .nav-menu {
        padding-left: 60px;
    }
    a {
        list-style-type: none;
        color: $s-color !important;
        font-size: $f20;
        &:hover {
            color: $green !important;
        }
    }
    form {
        margin-top: 20px;
        input {
            border: none;
            border-radius: 10px;
            padding: 5px 8px;
            &[type="submit"] {
                background-color: $green;
                color: $white;
                &:hover {
                    background-color: $white;
                    color: $s-color;
                }
            }
        }
    }
}
//=============== Sign up FORM ===============
.sign-form {
    hgroup {
        text-align: center;
        margin-top: 4em;
    }
    h1,
    h3 {
        font-weight: 300;
    }
    h1 {
        color: #636363;
    }
    h3 {
        color: #4a89dc;
    }
    form {
        width: 380px;
        margin: 4em auto;
        padding: 3em 2em 2em;
        background: #fafafa;
        border: 1px solid #ebebeb;
        box-shadow: rgba(0,0,0,0.14902) 0 1px 1px 0px,rgba(0,0,0,0.09804) 0 1px 2px 0;
        .group {
            position: relative;
            margin-bottom: 45px;
        }
        input {
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            -webkit-appearance: none;
            display: block;
            background: #fafafa;
            color: #636363;
            width: 100%;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #757575;
            &:focus {
                outline: none;
            }
        }
        .submit {
            background-color: $green !important;
            color: $white;
            border: none;
            &:hover {
                background-color: $white !important;
                color: $green;
                border: 1px solid $green;
            }
        }
        /* Label */
        label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: all 0.2s ease;
        }
    }
    /* active */
    input.used ~ label,
    input:focus ~ label {
        top: -20px;
        transform: scale(.75);
        left: -2px;
        /* font-size: 14px; */
        color: $green;
    }
    /* Underline */
    .bar {
        position: relative;
        display: block;
        width: 100%;
    }
    .bar:after,
    .bar:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: $green;
        transition: all 0.2s ease;
    }
    .bar:before {
        left: 50%;
    }
    .bar:after {
        right: 50%;
    }
    /* active */
    input:focus ~ .bar:after,
    input:focus ~ .bar:before {
        width: 50%;
    }
    /* Highlight */
    .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    /* active */
    input:focus ~ .highlight {
        animation: inputHighlighter 0.3s ease;
    }
}
//=============== search form ===============
.search {
    text-align: center;
    .searchForm {
        text-align: center;
        select {
            width: 200px;
            font-size: 20px;
            background-color: $light-grey;
            border-width: 1px;
            border-style: solid;
            border-color: $onyx !important;
        }
    }
    .searchMain {
        margin-top: 20px;
        .searchButton {
            width: 400px;
            padding: 10px;
            background-color: $green;
            color: $white;
            font-size: $f20;
            font-f: $josefin;
            border: 1px solid $green;
            &:hover {
                color: $green;
                background-color: $white;
            }
        }
    }
    .searchTable {
        display: none;
        margin-top: 20px;
        table {
            display: inline;
            th {
                text-align: center;
                padding-left: 60px;
                font-size: $f20;
            }
            td: {
                font-size: 17px;
            }
        }
    }
}
