// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600);
/*========= COLORS =======*/
$s-color: #273B47;
$green: #A3C9A8;
$onyx: #3C3744;
$blue: #7293A0;
$grey: #A0A4B8;
$light-grey: #D8DDEF;
/*========= FONT FAMILY =======*/
$lato: 'Lato', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
/*========= FONT SIZE =======*/
// h1 { font-family: 'Metrophobic', Arial, serif; font-weight: 400; }
